/* 
fuscia: #ff09f7
transparent purple: #cf0dffbf
full fuscia 2: #cf0dff;
purple: #b70fe0;
sky blue: #6db9ea;

font-family: 'Merriweather Sans', sans-serif;
font-family: 'Questrial', sans-serif;
*/



/* global */

*, *:before, *:after {
    box-sizing: border-box;
  }
  body {
      position: relative;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    font-family: 'Questrial', sans-serif;
}

  /* header & header nav */

  header {
      width: 100%;
      height: 34px;
      background-color: #cf0dffbf;
      display: flex;
      justify-content: space-between;
      align-items:  center;
      padding: 1% 5%;
      position: fixed;
      color: white;
  }

  .logo-brand {
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: .5px .5px .5px black;
  }

  header a {
      color: white;
      text-decoration: none;
  }

  .page-links a {
      font-size: 14px;
      margin-right: 8px;
      transition: .1s;
  }

  .page-links a:hover {
      text-decoration: underline;
      text-shadow: 1px 1px 1px #000000c7;
  }

  header nav {
      width: 50%;
      display: flex;
      justify-content: space-between;
  }

  @media screen and (min-width: 550px){
      .page-links a {
          font-size: 16px;
      }

  }

  /* splash-page */

.splash-page-container {
    background-color: #9da4f5;
    background-image: url('https://www.princeton.edu/sites/default/files/styles/half_2x/public/images/2018/01/clouds-19.jpg?itok=Qfa5j6NW');  
    height: 100vh;   
    display: flex;     
    justify-content: center;;
    align-items: center;
}


.splash-page-main-content {
    height: 60%;
    max-height: 500px;
    width: 80%;
    max-width: 600px;
    color: white;
    background-color: #221d46bf;
    border: 2px solid #905c9cd1;
    box-shadow: 0px 1px 4px #ff09f782;
    padding: 5%;
    text-align: center;
    text-shadow: 1px 1px 1px #cf0dff;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.splash-page-main-content h1 {
    font-size: 40px;
    margin: 0%;
    font-family: 'Merriweather Sans', sans-serif;
}



.splash-page-links {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}


.splash-page-links a {
    border: .5px solid black;
    padding: 1% 2%;
    width: 80%;
    background-color: #05010673;
    color: white;
    text-decoration: none;
}

.splash-page-links a:hover {
    border: .5px solid #cf0dff91;
    text-shadow: 1px 1px 1px #b700e4;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(23, 23, 23, 0.468);
}

@media screen and (min-width: 400px){
    .splash-page-main-content {
        height: 50%;
    }
}

@media screen and (min-width: 550px){
    .splash-page-main-content {
        height: 45%;
    }
    .splash-page-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;
    }
    
    .splash-page-links a {
        width: 25%;
    }
}

/* About Section */

#about {
    padding: 150px 8%;
}

.about-section-container {
    min-height: 100vh;
    margin-top: 50px;
}

.about-section-top-line {
    text-align: center;
    line-height: 36px;
}

.about-section-top-line-left {
    font-size: 50px;
    margin-bottom: 50px;
}
.about-section-top-line-right {
    font-size: 20px;
}

.about-section-bottom-line {
    text-align: left;
    text-indent: 31px;
    margin-top: 50px;
    hyphens: auto;
    font-size: 16px;
    line-height: 24px;
}

@media screen and (min-width: 550px){
    .about-section-container {
        padding: 0% 15%; 
    }
    .about-section-top-line {
        display: flex;
        align-items: center;
    }
    .about-section-top-line div {
        width: 50%;
    }
    .about-section-top-line-left {
        font-size: 125px;
    }
    .about-section-top-line-right {
        font-size: 20px;
        line-height: 30px;
    }
    .about-section-bottom-line {
        line-height: 32px;
    }
}

/* projects page */

.projects-section {
    min-height: 100vh;
}

.projects-section-hero {
    height: 30%;
    background-color: #4b0d79;
    color: white;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.projects-section-main-content {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.project-card-outer {
    background-color: #c8c8ff;
    border: 2px solid #00000054;
    box-shadow: 2px 2px 2px #00000052;
    height: 200px;
    padding: 2%;
    display: flex;
    margin-bottom: 5%;
}

.project-image-container {
    height: 100%;
    background-color: grey;
    width: 45%;
}

.project-screenshot {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid grey;
}

.project-info-container {
    text-align: center;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-name {
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
}

.project-description {
    font-size: 12px;
    padding: 1% 2%;
}

.project-link button a {
    width: 100%;
    height: 100%;
}

.project-link button{
    border: .5px solid grey;
    width: 120px;
    height: 35px;
    font-size: 15px;
    color: white;
}

.project-link button:hover {
    cursor: pointer;
    border: 1px solid #cf0dffbf;
    box-shadow: 1px 1px 2px rgba(23, 23, 23, 0.468);
}

.github-btn {
    background-color: #29b729;
}

.live-site-btn {
    background-color: #587ec3;
}

@media screen and (min-width: 420px){
    .project-link button{ 
        width: 150px;
    }
}

@media screen and (min-width: 760px){
    .projects-section-main-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .project-card-outer {
        width: 30%;
        flex-direction: column;
        height: 400px;
    }
    .project-image-container {
        width: 100%;
        height: 50%;
    }
    .project-info-container {
        width: 100%;
        height: 50%;
    }

}

/* Contact Section */

.contacts-section {
    min-height: 100vh;
}

.contacts-section-hero {
    height: 30%;
    background-color: #4b0d79;
    color: white;
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.contacts-section-bg-overlay {
    background-image: url('https://www.princeton.edu/sites/default/files/styles/half_2x/public/images/2018/01/clouds-19.jpg?itok=Qfa5j6NW');  
}

.contacts-section-main-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: #8f9bf3b3;
}

.contact-link-container {
    width: 50%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}


.contact-link-container img {
    filter: hue-rotate(180deg);
    height: 80px;
    transition: .1s;
}

.contact-link-container img:hover {
    cursor: pointer;
    height: 85px;
}

@media screen and (min-width: 550px){
    .contacts-section-main-content img {
        height: 110px;
    }
    .contact-link-container img:hover {
        height: 115px;
    }
}

/* footer */

footer {
    color: #cf0dff;;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    padding: 1%;
    padding-bottom: 3%;
    text-align: right;
}

/* loading spinner */
#overlay {
    height: 100vh;
    width: 100vw;
    background-color: #000000c7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 80px;
    height: 80px; 
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;

    animation: spin 1s infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }